body {
  background: url(../imagens/background.png) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  float: left;
  align-items: center;
}

h1 {
  color: #fff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  padding: 20px;
}

p {
  color: #fff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 18px;
  padding: 15px;
}

.borda {
  margin: 30px;
  border-radius: 20px;
  box-shadow: 6px 6px 10px 2px white;
}